/* this css file (global.css) will apply to every syren app as
customizable defaults */

Application {
	/* sets license metadata for all Applications */
	license: "MIT";
	/* css booleans! true will evaluate to 1, false will evaluate to 0 */
	/* accurate-text: false; (enabled by default, uncomment to disable) */
}

/* styles all meters with the class of 'background' */
.background {
	background-color: #fafafa;
	border-radius: 8;
}

/* styles all StringMeter */
StringMeter {
	font-family: "Segoe UI";
	font-size: 11;
	color: #0f0f0f;
	/* anti-alias: false; (enabled by default, uncomment to disable) */
}
